doctype
html(lang="en", manifest="/manifest.appcache")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Offline Inventory
        link(href="/vendor/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/styles.css", rel="stylesheet")
    body
        nav#header.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href="#") Offline Inventory
        .container
            .row
                .col-md-6
                    .row
                        button.btn.btn-success.col-md-6.col-md-offset-3.create-button(data-bind="click: $root.addNewItem") Add New Item
                    .row
                        #inventory.panel.panel-default
                            .panel-heading
                                h3.panel-title Inventory
                            .panel-body
                                table.table.table-hover
                                    thead
                                        tr
                                            th.list-header.id-header ID
                                            th.list-header.name-header Name
                                            th.list-header.rating-header Rating
                                            th.list-header.delete-header
                                    tbody(data-bind='foreach: inventory')
                                        tr
                                            td.id
                                                a(href='#', data-bind='text: id, click: $root.selectItem')
                                            td.name(data-bind='text: name')
                                            td.rating(data-bind='text: rating')
                                            td
                                                button.btn.btn-danger.btn-sm(data-bind="click: $root.deleteItem")
                                                    span.glyphicon.glyphicon-remove
                .col-md-6
                    #active-item.panel.panel-default(data-bind='with: activeItem')
                        .panel-heading
                            h3.panel-title(data-bind='text: $root.activeItemTitle')
                        .panel-body
                            form
                                .form-group
                                    label.control-label(for='active-id') ID:
                                    p#active-id.form-control-static(data-bind='text: id')
                                .form-group
                                    label.control-label(for='active-name') Name:
                                    input#active-name.form-control(data-bind='enable: $root.enableForm, value: name,  event: { change: $root.makeDirty }')
                                .form-group
                                    label.control-label(for='active-rating') Rating:
                                    input#active-rating.form-control(data-bind='value: rating, enable: $root.enableForm, event: { change: $root.makeDirty }')
                            button.btn.btn-success.col-md-5(data-bind='enable: dirty, click: $root.updateEntry, clickBubble: false')
                                | Update&nbsp;
                                span(data-bind='text: id')
                            button.btn.btn-danger.col-md-5.col-md-offset-2(data-bind='enable: $root.enableForm, click: $root.resetForm') Cancel

        footer.footer
            .container
                p.text-muted © 2015 Mark Lybrand

        script(src='vendor/js/jquery.js')
        script(src='vendor/js/knockout.js')
        script(src='vendor/js/knockout.mapping.js')
        script(src='vendor/js/lodash.min.js')
        script(src='js/script.js')