doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Offline Inventory
        link(href="/vendor/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/styles.css", rel="stylesheet")
    body
        nav#header.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href="#") Offline Inventory
        .container Foo
